/* HTML5 reset */
header, section, footer, aside, nav, article, figure {
  display: block; }

/* Mixins */
/* Page layout */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 87.5%;
  line-height: 1.5em;
  color: #303030; }

section {
  display: block;
  width: 760px;
  margin: 0 auto; }
  section#content {
    clear: both; }

header {
  display: block;
  width: 760px;
  margin: 0 auto;
  margin-top: 50px; }

footer {
  display: block;
  width: 760px;
  margin: 0 auto;
  text-align: right;
  color: #909090;
  font-size: 87.5%; }

nav {
  display: block;
  width: 760px;
  margin: 0 auto; }
  nav ul {
    list-style: none;
    padding: 0 0;
    margin: 0 auto;
    float: right; }
    nav ul li {
      float: left;
      display: inline;
      margin: 0 0; }
  nav a:link, nav a:visited {
    display: inline-block;
    padding: 5px 1.5em;
    font-weight: bold; }

/* Typography */
p {
  margin-top: 0;
  padding-top: 0; }
  p.meta {
    color: #909090; }

a:link, a:visited {
  text-decoration: none;
  color: #369; }

a:hover {
  color: #69c; }

h1 {
  font-size: 2.5em; }
  h1 a:link, h1 a:visited {
    color: #303030; }
  h1 a:hover {
    color: #303030; }

h3 {
  padding-bottom: 0;
  margin-bottom: 0; }

/* Notifications */
.flash_success {
  padding: 5px 10px;
  border: 2px solid #99cc99;
  background: #ddffdd; }

.flash_notice {
  padding: 5px 10px;
  border: 2px solid #cccc99;
  background: #ffffdd; }

.flash_error {
  padding: 5px 10px;
  border: 2px solid #cc9999;
  background: #ffdddd; }

/* Forms */
fieldset {
  border: none;
  padding: 0 0; }
  fieldset legend {
    font-size: 87.5%;
    color: #909090;
    text-transform: uppercase;
    margin: 0 0;
    padding: 0 0; }
  fieldset ul, fieldset ol {
    list-style-type: none;
    padding: 0 0; }
    fieldset ul li, fieldset ol li {
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
      fieldset ul li label, fieldset ol li label {
        display: inline-block;
        width: 150px;
        float: left; }
      fieldset ul li .example, fieldset ol li .example {
        margin-left: 150px;
        color: #909090; }
    fieldset ul ol, fieldset ol ol {
      padding-left: 2em;
      padding-top: 0.5em; }

input[type=text] {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%; }

textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%; }
  textarea.taskpaper {
    line-height: 1.75em; }
